body {
    display: flex;
    background-color: rgb(38, 39, 54);
}

header {
    display: ;
    background: rgb(38, 39, 54);
    font-size: 32px;
    font-weight: bolder;
    color: rgb(255, 42, 237);
}

h1 {
    font-size: smaller;
    color: white;
}

.row {
    display:flex
    flex-direction: row:
    flex-wrap: wrap:
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 
    repeat(12. 1fr);
}

.linear-gradient-background {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.3) 100%
    );
}

